/* Universal style */
*{
    margin: 0;
    padding: 0;
    
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* start shared style-------------------> */

.btn{
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    
}
/* end- shared style-------------------> */

/* start nav style---------------> */
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;

}
nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 18px 0;

}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.banner{
    background-image: url(../assets/hero-bg.png);
    display: flex;    
    flex-direction: column;
    text-align: center;
    /* width: 2042px;
    height: 1363px;
    background-repeat: no-repeat; */
    background-repeat: no-repeat;
}

.banner h1{
    font-size: 72px;
    font-weight: 700;
}
.banner p{
    font-size: 18px;
    font-weight: 400;
    padding: 16px 295px 32px;
}
.banner ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;

}