/* Universal style */
*{
    margin: 0;
    padding: 0;
    
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

/* start shared style-------------------> */

.btn{
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
}
.arrow {
    align-items: center;
    padding: 2.19px 3.44px;
    align-items: center;

}

/* end- shared style-------------------> */

/* start nav style---------------> */
nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;

}
nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    padding: 18px 0;

}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;

}
nav ul li a:hover{
    background-color: #469165;
    padding: 2px;
    border-radius: 2px;
}

.banner{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    
}

.banner h1{
    font-size: 72px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.banner p{
    font-size: 18px;
    font-weight: 400;
    padding: 16px 295px 32px;
    text-align: center;
}
.banner ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    

}
.banner ul li a{
    text-decoration: none;
    text-align: center;
   
   
}
.banner ul li{
    margin-bottom: 195.5px;
}
.pill-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background-color: #ffff;
    color:#30B868;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 1000px;
    margin-top: 205px;
    cursor: pointer;


}

.dot{
    width: 10px;
    height: 10px;
    background: #30B868;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #8ac2a1;
    
}
.btn-2 a{
    color:white;


    padding: 12px 16px;
    border: 1px solid white;
    border-radius: 4px;
}

.flex-container{
    display: flex;
    justify-content: center;
}
.blue-color{
    color: #30B868;
}

.info-container div{
    text-align: center;
}
.info-card li img{
    width: 32px;
    height: 32px;
    padding: 25px 25px;
    margin: 16px;

}
.circle-bg{
        background-color:rgba(249, 85, 85, 1);
        border-radius: 50px;
      
}
.info-card{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 24px;
    
      /* box-shadow: 5px 5px 5px red;
      margin-bottom: 500px;
      height: 300px; */
}

.info-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
    /* height: 29px; */
    width: 274px;
    
}
.info-card p{
    font-size: 16px;
    font-weight: 400;
    width: 274px;
    height: 40px;

}
.info-card li{
    /* background-color: #30B868; */
    list-style: none;
    box-shadow: 1px 1px 1px 1px rgb(218, 208, 208);
    padding: 24px;
    padding-bottom: 70px;
    /* margin-bottom: 69.5px; */
    /* align-items: center; */
    /* justify-content: center; */
    
}
.info-card ul li{
    justify-content: center;
}
.info-container h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

}
.info-container p{
    font-size: 16px;
    font-weight: 400;
   
  
}
.info-container{
 margin-left: 120px;
 margin-right: 120px;
}
.second-brain{
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.knowledge-img img{
    width: 600px;
    height: 600px;
}
.the-solution h6{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    

}
.the-solution h1{
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
}
.the-solution p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-bottom: 16px;

}
.the-solution ul li {
    list-style: none;
    align-items: center;
    padding-bottom: 16px;
}
.the-solution ul li img{
    vertical-align: middle;
   
}
.btn-2{
    vertical-align: middle;
}
.the-solution{
    justify-content: center;
}

.Clearly-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;


}
.Clearly-container h1{
    font-size: 40px;
    font-weight: 700;
    /* padding-bottom: 16px; */

}
.Clearly-container p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    padding-top: 16px;

}

footer{
    background-color: rgba(0, 25, 49, 1) ;
    
}
.footer-felx{
    display: flex;
    justify-content: space-between;
    padding: 120px 120px 120px 120px;
    position: relative;
    
}
footer p{
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}
.flex-row{
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: 200px;
    border-radius: 50px;
    align-items: center;
    
    
}
.social-media{
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
    align-items: center;
    
    
}
.social-media ul li a{
    cursor: pointer;
    
}

.footer-felx p{
    text-align: right;
    justify-content: right;
    align-items:end;
}
#top-text{
    position: absolute;
    top: 110px;
    right: 110px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 16px;


}